APP_NAME="SaaS Gobierno Municipal"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=municipal_saas
DB_USERNAME=municipal
DB_PASSWORD=secret

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

CACHE_STORE=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost,localhost:4200
FRONTEND_URL=http://localhost:4200

TENANT_BASE_DOMAIN=pagosmunicipales.com
LOCAL_TENANT_SLUG=colima
CAPTURE_LINE_EXPIRATION_DAYS=15

PAYMENT_DEFAULT_GATEWAY=stripe
OPENPAY_MERCHANT_ID=
OPENPAY_PRIVATE_KEY=
MERCADOPAGO_ACCESS_TOKEN=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
